.wrapper {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    
   }
   .glow {
    color: rgb(62, 87, 174);
    text-shadow: rgb(137, 119, 155) 0 0 10px;
   }

   .boxImage{ 
     height: 250px;
     width: 300px;
     margin: 20px ;
     padding: 10px;
     background: linear-gradient(rgba(141, 144, 198, 0.897), rgba(66, 122, 178, 0.726)),
     
     center no-repeat;
     image-resolution: 100%;
     border-radius: 10px;
     outline: none;
   }
   
   .boxDescription{
    height: auto;
     width: auto;
     margin: 20px ;
     padding: 20px;
     background: linear-gradient(rgba(96, 96, 112, 0.897), rgba(32, 15, 70, 0.726)),

     center no-repeat;
     image-resolution: 100%;
     border-radius: 10px;
     outline: none;
   }
   
   .boxDetail{
    font-size:small;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
   }
   
   h4{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(172, 156, 167);
    text-decoration:none;
 }

 .boton{
  text-decoration: none;
  background-color: #32343d;
  color:rgb(109, 113, 136);
  min-width: 160px;
  height: 30px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: solid rgb(55, 49, 77);
  margin: 5px;
}